.stages {
    padding: 1.5rem;

    &__third-title {
        @include tablet {
            text-align: center;
        }
    }

    &__order-list {
        @include tablet {
            display: flex;
            justify-content: center;
        }
    }

    &__stage-list {
        padding: 1.5rem;
        background: rgba($color-quaternary, .4);
        border-radius: 1rem;
        position: relative;
        margin: 1rem 0;
        font-weight: 600;
        display: flex;
        align-items: center;
        box-shadow: 0 5px 10px 2px #e6e6e6;

        @include tablet {
            margin: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    &__icon-style {
        margin-right: 1.5rem;
        color: gray;
        transition: 0.4s;
        @include tablet {
            margin-right: 0.5rem;
        }
        &:hover {
            color: $color-primary;
        }
    }

    &__badge {
        background-color: #9356DC;
        color: #fff;
        display: inline-block;
        padding: 3px 8px;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        left: -15px;
    }
}